<!--<md-toolbar class="md-accent md-hue-1">
    <div ng-if="!screenSmall" class="md-toolbar-tools">
        <md-button ng-if="isDetail" class="md-icon-button" ng-click="navToggle()">
            <md-icon md-svg-icon="menu"></md-icon>
            <md-tooltip md-direction="top">Otówrz menu zapisu</md-tooltip>
        </md-button>
        <div class="md-title">{{vm.title}}</div>
        <div flex></div>
        <div class="md-subhead">{{vm.subTitle}}</div>
    </div>
    <div ng-if="screenSmall" class="md-toolbar-tools">
        <div layout="column">
            <div flex class="md-body-1">{{vm.title}}</div>
            <div class="md-body-2">{{vm.subTitle}}</div>
        </div>
    </div>
</md-toolbar>-->

<md-card-header>
    <md-card-header-text>
        <div layout layout-align="start center">
            <md-button ng-if="isDetail" class="md-icon-button" ng-click="navToggle()">
                <md-icon md-svg-icon="menu"></md-icon>
                <md-tooltip md-direction="top">Otówrz menu zapisu</md-tooltip>
            </md-button>
            <div layout="column">
                <span class="md-title">{{vm.title}}</span>
                <span class="md-subhead">{{vm.subTitle}}</span>
            </div>
            <div flex></div>
            <div ng-if="!vm.startMode">
                <span class="md-subhead">Trwa wczytywanie danych...</span>
            </div>
        </div>
        <!--<div ng-if="!vm.startMode || vm.inProgress">
            &nbsp;
            <md-progress-linear md-mode='indeterminate' value=""></md-progress-linear>
        </div>-->
        <linia-pozioma ng-if="vm.startMode"></linia-pozioma>
    </md-card-header-text>
    
</md-card-header>