    
<div layout layout-padding style="margin-bottom:-4em;">
        <!--<div flex-gt-sm="5" ng-if="czyKorekta">
            <md-tooltip md-direction="top">
                Utwórz korektę pozycji
            </md-tooltip>
            <md-button class="md-icon-button md-raised md-accent" ng-click="fakturaPozycjaKorekta()" style="margin-top:1em">
                <md-icon md-svg-icon="edit"></md-icon>
            </md-button>
        </div>-->
        <div flex-gt-sm="5" ng-if="!dissValue">
            <md-tooltip ng-if="ref.wartoscKombinacjiJedn.naliczeniaNazwy.length>0" style="height:auto;line-height:3em" md-direction="top">
                <span ng-repeat="info in ref.wartoscKombinacjiJedn.naliczeniaNazwy">{{info}}<br /></span>
            </md-tooltip>
            <md-button class="md-icon-button md-raised" ng-click="fakturaPozycjaRemove()"
                       ng-disabled="ref.czyPozMag" style="margin-top:1em">
                <md-icon md-svg-icon="remove"></md-icon>
            </md-button>
        </div>
        <md-input-container flex-gt-sm="65">
            <label>Nazwa towaru/usługi</label>
            <input ng-model="ref.nazwa" name="nazwaTowaruUslugi_{{typ}}{{ref.pozycjaId}}" required  ng-disabled="dissName" />
        </md-input-container>
        <md-autocomplete flex-gt-sm="5" required ng-disabled="ref.czyPozMag || dissValue"
                         md-search-text="ref.searchText"
                         md-input-name="vatSprzedazy ({{typ}}{{ref.pozycjaId}})"
                         md-items="item in danePomocnicze | filter: ref.searchText"
                         md-selected-item="ref.podatekStawka"
                         md-item-text="item.nazwa"
                         md-floating-label="VAT sprzedaży"
                         md-min-length="0"
                         md-selected-item-change="fakturaPozycjePrzelicz()">
            <md-item-template>
                <span md-highlight-text="pozMag.searchText">{{item.nazwa}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-input-container>
            <label>Ilość</label>
            <input type="number" name="{{typ}}ilosc" ng-model="ref.ilosc" required ng-disabled="dissValue || ref.czyPozMag" />
        </md-input-container>
        <md-input-container>
            <label>Cena Jedn</label>
            <input ng-model="ref.wartoscJedn" type="number" name="wartoscJedn ({{typ}}{{ref.pozycjaId}})"
                   ng-change="fakturaPozycjePrzelicz()"
                   required  ng-disabled="dissValue"/>
        </md-input-container>
        <md-input-container>
            <label>Podatek</label>
            <!--<input ng-value="ref.wartoscPodatku | number:2" disabled />-->
            <input ng-value="ref.podatekWartosc | number:2" disabled />
        </md-input-container>
        <md-input-container>
            <label>Wartość</label>
            <input ng-value="ref.wartosc | number:2" disabled/>
        </md-input-container>
</div>