<div md-swipe-right="vm.navIsOpen=true" md-swipe-left="vm.navIsOpen=false" ng-cloak>
    <nawigacja-szczegoly></nawigacja-szczegoly>
    <md-card ng-if="vm.startMode" ng-form="vm.formMain">
            <naglowek></naglowek>
            <md-card-content>
                <md-tabs md-dynamic-height>
                    <md-tab label="Jednostki">
                        <md-card>
                            <md-card-content>
                                <div class="md-body">
                                    Baza jednostek wykorzystywana w całej aplikacji;
                                </div>
                                <div layout="column" layout-gt-sm="row" layout-padding>
                                    <md-input-container flex>
                                        <label>Nazwa</label>
                                        <input ng-model="vm.dane.jednostki.nazwa" md-maxlength="50" name="jednostkaNazwa" />
                                    </md-input-container>
                                    <md-input-container flex="66">
                                        <label>Opis</label>
                                        <input ng-model="vm.dane.jednostki.opis" md-maxlength="100" name="jednostkaOpis" />
                                    </md-input-container>
                                    <md-button class="md-primary md-raised">
                                        <div></div>Dodaj nową
                                    </md-button>
                                </div>
                            </md-card-content>
                        </md-card>




                    </md-tab>
                  </md-tabs>
            </md-card-content>
        </md-card>
</div>